@import "variables";
@import "fonts";
@import "header";
@import "banner";

.container-form {
  height: 450px;
  border-radius: 10px;
  background-color: $background-secondary;
}

.box {
  height: 20%;
}

.box-name input, .box-email input  {
  border: none;
  height: 30px;
  padding-left: 10px;
  outline: none;
}

.box-textarea textarea {
  border: none;
  outline: none;
  padding-top: 10px;
  resize: none;
}

.box-btn button {
  width: 100px;
  height: 50px;
  border: none;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  font-size: 1.3rem;
}

@import "footer";