@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* utils */
.font-light{
	font-weight: 300;
}
.font-bold{
	font-weight: 700;
}
.fix-center{
	max-width: 1280px;
	margin: auto;
}
.text-center{
	text-align: center;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
  background-color: #D2D2D1;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* ESTILOS HEADER */
#header .top-menu {
  min-height: 100px;
}


.container-logo {
  width: 100px;
  height: 100px;
  margin: 20px 0 20px 20px ;
  display: flex;
}

.container-logo img {
  width: 100%;
  height: 100%;
  margin-right: 50px;
}

.menu ul li a {
  font-size: 20px;
  margin-left: 50px;
}

/* ESTILOS BANNER */
.overlay span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.container-description {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.title-description-banner {
  width: 500px;
  margin-bottom: 10px;
}
.p-description-banner {
  width: 500px;
  height: 100px;
  font-size: 1.2rem;
}

.container-description-mobile {
  background-color: #FED8FF;
  display: none;
}

/* ESTILOS SECCION DE RESEÑAS RECIENTES */
.title-section {
  text-align: center;
}

#section-recent-reviews {
  width: 100%;
  margin-top: 10px;
  justify-self: center;
  
}

.container-reviews {
  padding: 0 120px 0 120px;
  display: flex;
  margin-bottom: 50px;
}
.title-section {
  margin-top: 50px;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.btn-watch-now {
  width: 70%;
  height: 50%;
  margin-top: 20px;
  border: none;
  background-color: #181818;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 5px;
}

/* ESTILOS FOOTER */
#footer {
  margin-top: 30px;
  background-color: #f9f9f9;
}

.container-logo-footer {
  width: 400px;
  height: 300px;
}
.container-logo-footer .logo {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat:  no-repeat;
  object-fit: contain;
}
.container-social-networks {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.container-social-networks .container-sn {
  width: 70px;
  height: 70px;
}
.title-sn h3 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 10px;
  padding-left: 10px;
}
.instagram {
  background-image: url('../assets/icons/instagram.svg');
  width: 100%;
  height: 100%;
}
.youtube {
  background-image: url('../assets/icons/youtube.svg');
  width: 100%;
  height: 100%;
}
.twitter {
  background-image: url('../assets/icons/twitter.svg');
  width: 100%;
  height: 100%;
  justify-self: end;
}



@media  screen and (max-width: 830px) {

  .container-description, .p-description-banner p, .title-description-banner h2 {
    display: none;
  }
  .container-description-mobile {
    background-color: #FED8FF;
    display: block;
  }

}



