@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* utils */
.font-light{
	font-weight: 300;
}
.font-bold{
	font-weight: 700;
}
.fix-center{
	max-width: 1280px;
	margin: auto;
}
.text-center{
	text-align: center;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
  background-color: #D2D2D1;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header header header"
  "banner banner banner banner banner"
  "card card card card card"
  "footer footer footer footer footer";

}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#main {
  grid-area: banner;

}

.banner {
  position: relative;
  height: 60vh;
}
.banner img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-size: center;
}
.banner span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.container-description {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}
.title-description-banner {
  width: 500px;
  margin-bottom: 10px;
}
.p-description-banner {
  width: 500px;
  height: 100px;
  font-size: 1.2rem;
}

.title-section {
  text-align: center;
}

#section-recent-reviews {
  width: 100%;
  margin-top: 10px;
  grid-area: card;
  justify-self: center;
  
}

.container-reviews {
  padding: 0 120px 0 120px;
  display: flex;
  margin-bottom: 50px;
}
.title-section {
  margin-top: 50px;
}

.card {
  width: 50%;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 10px 15px 5px #787878;
  margin: 50px;
}

.card .card-header {
  height: 600px;
  width: 100%;
}
.card-header-img {
  width: 300px;
  height: 300px;
}
.card-header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.card .card-body {
  text-align: center;
  height: 10vh;
  min-width: 200px;
}
.card .card-body h3 {
  margin-top: 10px;
}

.btn-watch-now {
  width: 70%;
  height: 40%;
  margin-top: 20px;
  border: none;
  background-color: #181818;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 5px;
}

@media screen and (max-width: 990px) {
  .container-reviews{
    padding: 0;
    display: flex;
    align-items: center;
  }
  .card {
    width: 90%;
  }
}

@media  screen and (max-width: 830px) {
  
  .container-reviews {
    flex-direction: column;
  }
  .banner {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: center;
    height: 50vh;
  }
  .banner img {
    object-fit: cover;
  }

  
  .container-description, .p-description-banner p, .title-description-banner h2 {
    display: none;

  }
  .card {
    width: 90%;
  }
}



