$color-primary: #F9F9F9;
$color-secondary: #FF63C2;

$background-primary: #F9F9F9;
$background-secondary: #FED8FF;

$dark: #181818;
$light: #fff;

$main-palette: (
  "color-primary": #F9F9F9,
  "color-secondary": #FF63C2,
  "background-primary": #F9F9F9,
  "background-secondary": #FED8FF
);

