.banner {
  position: relative;
  height: 50vh;
  min-width: 380px;
  background-image: url('../../assets/img/banner1.jpg');
  background-size: cover;
  background-size: center;
}
.banner span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.banner .container-description {
  width: 100%;
  height: 100%;
  width: 500px;
  z-index: 2;
  position: relative;
  color: #fff;
}
.banner .container-description h2 {
  text-align: center;
}
.container-form {
  border: 1px solid black;
  margin: 20px;
}