* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* ESTILOS HEADER */
#header .top-menu {
  min-height: 100px;
}


.container-logo {
  width: 100px;
  height: 100px;
  margin: 20px 0 20px 20px ;
  display: flex;
}

.container-logo img {
  width: 100%;
  height: 100%;
  margin-right: 50px;
}

.menu ul li a {
  font-size: 20px;
  margin-left: 50px;
}
.menu ul li a:hover {
  background-color: #FF63C2;
  border-radius: 5px;
}

/* ESTILOS BANNER */
.overlay span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.container-description {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  color: #fff;
}
.title-description-banner h2 {
  font-size: 2.5rem;
}

/* ESTILOS FORMULARIO */
.container-form {
  height: 450px;
  border-radius: 10px;
  background-color: #FED8FF;
}
.box {
  height: 20%;
}

.box-name input, .box-email input {
  border: none;
  height: 30px;
  padding-left: 10px;
  outline: none;
}
.box-textarea textarea {
  border: none;
  outline: none;
  padding-top: 10px;
  resize: none;
}
.box-btn button {
  width: 100px;
  height: 50px;
  border: none;
  background-color: #000;
  border-radius: 5px;
  color: #fff;
  font-size: 1.3rem;
}



/* ESTILOS FOOTER */
#footer {
  margin-top: 30px;
  background-color: #f9f9f9;
}

.container-logo-footer {
  width: 400px;
  height: 300px;
}
.container-logo-footer .logo {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat:  no-repeat;
  object-fit: contain;
}
.container-social-networks {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.container-social-networks .container-sn {
  width: 70px;
  height: 70px;
}
.title-sn h3 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 10px;
  padding-left: 10px;
}
.instagram {
  background-image: url('../../assets/icons/instagram.svg');
  width: 100%;
  height: 100%;
}
.youtube {
  background-image: url('../../assets/icons/youtube.svg');
  width: 100%;
  height: 100%;
}
.twitter {
  background-image: url('../../assets/icons/twitter.svg');
  width: 100%;
  height: 100%;
  justify-self: end;
}
