.section-contact {
  min-height: 500px;
}
.container-form {
  height: 400px;
  border-radius: 10px;
  background-color: map-get($main-palette , "background-secondary");
}
@media  screen and (max-width: 767px) {
  .container-form {
    height: 520px;

  }
}

.box {
  height: 20%;
}

.box-name input, .box-email input  {
  border: none;
  height: 30px;
  padding-left: 10px;
  outline: none;
}

.box-textarea textarea {
  border: none;
  outline: none;
  padding-top: 10px;
  resize: none;
}

@include create-button($dark, 'submit', 200px, 40%, 1.5rem);
