#footer {
  width: 100%;
  margin-top: 10px;
  background-color: #f9f9f9;
  grid-area: footer;
  justify-items: end;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
  "logo espacio redes";
  gap: 25px
}

.container-logo-footer {
  width: 400px;
  height: 300px;
  grid-area: logo;
}
.container-logo-footer .logo {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  background-position: center;
  background-repeat:  no-repeat;
  object-fit: contain;
}
.container-social-networks {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  grid-area: redes;
  justify-self: center;
}
.container-icons-sn {
  display: flex;
  justify-content: space-around;
}
.container-social-networks .container-sn {
  display: inline-block;
  width: 70px;
  height: 70px;

}
.title-sn h3 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 10px;
  padding-left: 10px;
}
.instagram {
  background-image: url('../assets/icons/instagram.svg');
  width: 100%;
  height: 100%;
}
.youtube {
  background-image: url('../assets/icons/youtube.svg');
  width: 100%;
  height: 100%;
}
.twitter {
  background-image: url('../assets/icons/twitter.svg');
  width: 100%;
  height: 100%;
  justify-self: end;
}

@media screen and (max-width: 650px) {
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "logo"
    "redes";
  }
  .container-logo-footer {
    justify-self: center;
  }
}
@media screen and (max-width: 424px) {
  .container-logo-footer {
    width: 200px;
    height: 200px;
  }
}